.DS_Store
Package Control.cache
*.cache
Logs
*.pyc

encoding_cache.json

# Emacs
ede-projects.el
eshell/*
mackup/.emacs.d/elpa
mackup/.emacs.d/url
semanticdb/*
projectile.cache
projectile-bookmarks.eld
.org-id-locations
auto-save-list/*
*.save

\#*\#
*~

credentials