"*":
  Zen: {}
  core:
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 21
    invisibles: {}
  "exception-reporting":
    userId: "d22eece5-a238-453c-5469-0e2aa9459d8b"
  "merge-conflicts": {}
  "remote-atom":
    keep_alive: true
    launch_at_startup: true
  welcome:
    showOnStartup: false
